*{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}

#particles-js{
    background: -webkit-radial-gradient(circle at center center, rgba(72, 0, 100,0.9), rgba(31, 0, 43,1));
    background: radial-gradient(circle at center center, rgba(72, 0, 100,0.9), rgba(31, 0, 43,1));
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    height:100%;
    width: 100%;
    z-index: -2;
}
.Presentacion{
    width: 100%;
    top: 0;
    z-index: -1;
    text-align: center;
    color: aliceblue;
    font-family: 'forte';
    margin-top: 0.1%;
    position: relative;
    display: flex;
    justify-content: center;
}

.Pres{
    width:100%;
}


.Titulo{
    font-size: 220%;
    margin: 10px;
    /*
    background-image: linear-gradient(45deg,white,rgb(194, 194, 194));
    background-image: radial-gradient(circle at center center, rgb(255, 255, 255), rgb(192, 192, 192));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    */
}
.Foto{
    height: 80vh;
    border-radius: 25%;
  /*  border: 10px solid rgb(109, 1, 151);
    */
}
.Bienvenida{
    font-size: 150%;
    margin-bottom: 3px;
}
nav{
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    background-image: linear-gradient(to right,rgba(156, 0, 156,0.7),rgba(114, 0, 114,0.7));

}
.Port_espera{
    font-size: 150%;
}
.navegacion{
    color: white;
    list-style: none;
    display: flex;
    justify-content: end;
    margin-right: 20px;
}
.navegacion li{
    margin-left: 10px;   
    text-align: center;
    font-size:90%;
    animation-name: Flotar;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.7s;
    animation-timing-function: ease-in-out;
    transition: font-size 100ms;
}
.navegacion li:hover{
    font-size:110%;
}

.Me{
    animation-delay: 300ms;
}
.Kill{
    animation-delay: 600ms;
}
.Proyect{
    animation-delay: 900ms;
}
.Contact{
    animation-delay: 1200ms;
}
@keyframes Flotar{
    0%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(7px);
    }
}


.About{
    margin:40px;
    margin-top:0;
    padding:0;
    font-size:100%;
    
}
.About article{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.About h2{
    font-size: 170%;
}
.About h3{
    font-size: 130%;
}

.About h3, .About h2 {
    padding:0;
    margin-top:0;
}
.About p{
    font-weight:10px;
}

.About div{
}

.About img{
    height: 100px;
}

.About ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.About li{
    list-style: none;
    margin: 10px;
}
.Skill:nth-child(1){
    text-align: center;
}
.Part{
    scroll-margin-top: 60px;
}

html{
    scroll-behavior: smooth;
}
